<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>KStores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">KStores</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="/catalog">Catalog</a></li>
          </ul>
          <form
            class="navbar-form navbar-left"
            role="search"
            action="JavaScript:search()"
            id="searchForm"
          >
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search"
                name="searchBar"
              />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/cart">Cart</a></li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Account <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="/account/settings">Settings</a></li>
                <li><a href="/account/orders">Order History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/signout">Sign out</a></li>
                <li><a href="/login">Sign in</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <script>
      function search() {
        let query = document.getElementById("searchForm")["searchBar"].value;
        window.location.href = `/catalog?search=${query}`;
      }
    </script>

    <script type="text/javascript"></script>

    <style>
      body {
        background-color: #f4f6f9;
      }
    </style>
  </body>
</html>
